html,body{font-family: "微软雅黑";box-sizing: border-box;width: 100%;height: 100%;position: relative;overflow: hidden; overflow-x:scroll;}
body{margin: 0rem;padding: 0rem 1rem;background:url(../img/aside_p.png) no-repeat;background-size:cover ;/*overflow: hidden;*/}
input{padding:0rem}
a,input,span{-webkit-tap-highlight-color:rgba(255,0,0,0);}
.back{position: absolute;/*top: 12.5%;*/left: 2rem;color: white;width: 60%;height: 90%;z-index:1}
.back .username{font-size: 1.2rem;padding-bottom: 1.8rem;border-bottom:0.15rem solid white ;width: 100%;}
.back a{display: block;text-decoration: none;margin-top: 1.5rem;color: white;}
.back>span{position: absolute;left: 0rem;bottom: 1rem;font-size: 0.8rem;}
.back>span>sup>img{width: 1rem;height: 1rem;}
/*注册*/
.reg{text-align: center; width: 100%;height: 100%;padding: 0rem;box-sizing:border-box;margin: auto;}
.reg img{margin-bottom: 1.5rem;}
/*.reg .title{ : 9rem;}*/
.reg-title,.login-title{text-align: center;margin: 1rem 0rem 0rem 0rem;font-size: 1.5rem;color: #5349e6;}
.myform input{height:2rem;box-sizing:border-box;padding-left: .5rem;margin-top:1rem ;width:100%;border:0.04rem solid #b7b7b7;border-radius: .3rem;outline: none;-webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.myform .phone{width:63%;}
.reg .myform{position: absolute;top: 50%;transform: translate(0,-50%); text-align: left;width: 90%;margin:0rem 5%;padding: 1rem 2rem;box-sizing: border-box;background-color: white;border-radius: 0.5rem;box-shadow:0 0 16px rgba(53,53,53,0.2);z-index: 5; }
.get-code,.forget-code{cursor: pointer;width:36%;background: white;margin-top: 1rem ;line-height: 2rem;font-size:0.6rem ;  text-align: center;;background-color:#f6f6f6;color:#b7b7b7;float:right;border-radius: 0.3rem;}
.login-buttom,.reg-buttom{ width: 100%;cursor: pointer;color: white;border-radius:0rem 0rem 0.5rem 0.5rem;text-align: center;display: inline-block;height: 3rem;line-height:3rem ;background-color: #7c63eb;position: absolute;bottom: -0.1rem;left:0rem;}
.login-buttom{margin-top: 5rem;}
.Validform_checktip{color: #f42929;margin-top: 0.5rem;text-align: left;font-size: 0.8rem;}
.reg .existing-account,.existing-account a{color: #7c63eb;float: right;font-size: 0.8rem;margin-top: 0.3rem;text-decoration: none;cursor: pointer;margin-bottom: 4rem;}
.reg .text{position: absolute;bottom: 0rem;width: 80%;margin-left: -40%;}
.reg .shadow{width: 80%;height: 2rem;border-radius:0.5rem ;margin: auto;background-color: rgba(255,255,255,0.20);}
.get-code.active,.forget-code.active{color:#7c63eb ;}

/*登录*/
.login{text-align: center; width: 100%;height: 100%;box-sizing:border-box;margin: auto;}
.login img{margin-bottom: 1.5rem;}
.login .title{width: 9rem;}
.login .existing-account,.existing-account a,.login .no-account-number{color: #7c63eb;float: left;font-size: 0.8rem;margin-top: 0.7rem;text-decoration: none;cursor: pointer;}
.login .forget_password ,.login .forget_password a{color: #7c63eb;float: right;font-size: 0.8rem;margin-top: 0.7rem;text-decoration: none;cursor: pointer;margin-bottom: 4rem;}
.login .myform{position: absolute;top: 50%;transform: translate(0,-50%); text-align: left; width: 90%;margin: 0rem 5%;padding:  2rem;box-sizing: border-box;background-color: white;border-radius: 0.5rem;margin-top: -1.5rem;box-shadow:0 0 16px rgba(53,53,53,0.2); }
.login p{position: absolute;bottom: 2rem;letter-spacing: 0.1rem;color: white;text-align: center;font-size: 0.8rem;width: 80%;}
.login .shadow{width: 80%;height: 2rem;border-radius:0.5rem ;margin: auto;background-color: rgba(255,255,255,0.20);}
.login .text{position: absolute;bottom: 0rem;width: 80%;margin-left: -40%;}

/*忘记密码*/ 
.index .three .alert .forgetPassword{display: none;}
.index .three .alert .forgetPassword .myform{position: absolute;top: 50%;transform: translate(0,-50%); text-align: left; width: 90%;margin: 0rem 5%;box-sizing: border-box;background-color: white;border-radius: 0.5rem;margin-top: -1.5rem;box-shadow:0 0 16px rgba(53,53,53,0.2) }
.index .three .alert .forgetPassword .myform>div{box-sizing: border-box;width: calc(100% - 4rem);margin: 0rem 2rem;}
.index .three .alert .forgetPassword .myform p{color: #7c63eb;width: 100%;text-align: center;margin-top: 1.5rem;font-size: 1.2rem;}
.index .three .alert .forgetPassword .myform input{border: 0.04rem solid #b7b7b7;margin-top:1rem;box-sizing: border-box;width: 100%;height: 2.5rem;}
.index .three .alert .forgetPassword .myform .forget-code{background-color:#f6f6f6 ;color:#b7b7b7;height: 2.5rem;line-height: 2.5rem;}
.index .three .alert .forgetPassword .myform .verifyCode{width:63%;margin-right:0rem ;}
.index .three .alert .forgetPassword .myform .next{margin-top: 2rem;line-height: 3rem;text-align: center; width: 100%;background-color:#7c63eb ;color: white;display: block;border-radius: 0rem 0rem 0.5rem 0.5rem ;border-color:#7c63eb ;margin-bottom:-0.1rem}
.index .three .alert .forgetPassword .myform .active{background-color:#7c63eb ;color: white;}

/*重置密码*/
.index .three .alert .resetPassword{display: none;}
.index .three .alert .resetPassword .myform{position: absolute;top: 50%;transform: translate(0,-50%); text-align: left; width: 90%;margin: 0rem 5%;box-sizing: border-box;background-color: white;border-radius: 0.5rem;margin-top: -1.5rem;box-shadow:0 0 16px rgba(39,33,131,0.5) }
.index .three .alert .resetPassword .myform>div{position: relative; box-sizing: border-box;width: calc(100% - 4rem);margin: 0rem 2rem;}
.index .three .alert .resetPassword .myform>div>.eye{position: absolute;right: 0.5rem;background: url(../img/eye.png) no-repeat;background-position: 0rem 0.5rem;width: 2rem;height: 2.5rem;top: 1.25rem;right:0rem ;display: none;}
.index .three .alert .resetPassword .myform>div>.bottom{background-position:0rem -1.8rem ;}
.index .three .alert .resetPassword .myform p{color: #7c63eb;width: 100%;text-align: center;margin-top: 1.5rem;font-size: 1.2rem;}
.index .three .alert .resetPassword .myform input{border: 0.04rem solid #b7b7b7;margin-top:1rem;box-sizing: border-box;width: 100%;height: 2.5rem;}
.index .three .alert .resetPassword .myform .sure{margin-top: 2rem;line-height: 3rem;text-align: center; width: 100%;background-color:#7c63eb ;color: white;display: block;border-radius: 0rem 0rem 0.5rem 0.5rem ;border-color:#7c63eb ;}
.index .three .alert .resetPassword .myform .hidden{top: 0;left:0;position: absolute;display: none;}

/*重置密码成功*/
.index .three .alert .finish{display: none;}
.index .three .alert .finish>div{text-align: center; position: absolute;top: 50%;transform: translate(0,-50%);width: 90%;margin: 0rem 5%;box-sizing: border-box;background-color: white;border-radius: 0.5rem;margin-top: -1.5rem;box-shadow:0 0 16px rgba(39,33,131,0.5) ;}
.index .three .alert .finish>div .reset{color: #7c63eb;width: 100%;text-align: center;margin-top: 1.5rem;font-size: 1.2rem;}
.index .three .alert .finish>div img{margin-top: 1.5rem;}
.index .three .alert .finish>div .success{margin-top: 1.5rem;font-size: 0.9rem;color: #7c63eb;}
.index .three .alert .finish .login-span{margin-top: 2rem;line-height: 3rem;text-align: center; width: 100%;background-color:#7c63eb ;color: white;display: block;border-radius: 0rem 0rem 0.5rem 0.5rem ;border-color:#7c63eb ;}

/*aimi*/
body{padding: 0rem;}
p{margin: 0rem;}
.aimi{width: 100%;height: 100%;position: fixed;overflow: hidden;background-color: white;}
.head,.problems .head,.sipc .head{width: 100%;height: 3.4rem; box-sizing: border-box;background-color:white ;position: relative;text-align: center;border-bottom:0.05rem solid rgba(0,0,0,0.1) ;}
.head .aside,.problems .head .aside,.sipc .head .aside{height: 1rem;margin-top: .25rem; width: 1.1rem;vertical-align: middle;text-align: center;position: absolute;left: 1rem;top: 1rem;cursor: pointer;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
.head .backward{height: 1.2rem;margin-top: .0rem; width: 0.75rem;vertical-align: middle;text-align: center;position: absolute;left: 1rem;top: 1rem;cursor: pointer;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
.title,.problems .title,.sipc .title{text-align: center;vertical-align: middle;width: 100%;display: inline-block;color: #5349e6;width:9rem;height:1rem;margin-top:1.2rem}
.aimi .prompt{float: right;height: 1.4rem;color: white;display: inline-block;width: 3rem;border-radius: .3rem;text-align: center;position: absolute;right: 1rem;top: 1rem;font-size: 0.8rem;line-height: 1.4rem;z-index: 5;}
.aimi .prompt,.aimi .prompt img{cursor: pointer;width: 1rem;height: 1.5rem;}
.aimi .chat{width: 100%;height: calc(100vh - 7rem);box-sizing: border-box;overflow-x: hidden;}
.aimi .aimi-message{width: 100%;height:13rem;text-align: center;transition:margin-top 0.5s;}
.aimi .aimi-message>img{/*width: 11rem;height: 6rem;*/text-align: center;}
.aimi .aimi-message .Aimi{display: block;font-size:1.5rem ;color: #333333;}
.aimi .aimi-message .pentagram{margin-top: -0.5rem; color:#f5292a ;display: block;font-size: 1.2rem;margin-bottom: 0rem;}
.aimi .aimi-message .pentagram img{width: 0.7rem;height: 0.7rem;}
.aimi .aimi-message .helper{color:#666666;font-size:1rem ;}
.aimi-message+.left{opacity: 1;}
.aimi .aimi-message>img{width: 4rem;height: 4rem;}
/* .aimi .left{float: left; clear: both;margin-left: 1rem;margin-bottom: 1.3rem;color:#4a4a4a} */
.aimi .left{float: left; clear: both;margin-left: 1rem;margin-bottom: 1.3rem;color:#4a4a4a;position: relative;}
.aimi .left img{width:2.5rem ;height: 2.5rem;text-align: center;position:absolute;left: 0px;top:0px}
.aimi .left .text,.aimi .right .text{display: inline-block;} 
.aimi .right{float: right;clear: both;margin-right: 1rem;margin-bottom: 0rem;}
.aimi .left .text .left-bottom{border-radius: 1.2rem 1.2rem 1.2rem 0.3rem;background-color: #ececec;padding:0.5rem 1rem;margin-bottom: 0.25rem;max-width: 15rem; word-break: break-all;}
.aimi .left .text .left-top{border-radius:0.3rem 1.2rem 1.2rem 1.2rem ;background-color: #ececec;padding:0.5rem 1rem;margin-top: 0.25rem;max-width: 15rem; word-break: break-all;}
.aimi .right .text>div{border-radius:1rem 1rem 1rem 1rem ;padding:0.25rem 1rem;margin-bottom: 0.75rem;background-color: #4a4a4a;color: white;text-align: left;max-width: 15rem; word-break: break-all;}
.aimi .input{height: 3.6rem;width: 100%;padding: 0rem 0.5rem;background-color: #f6f6f6;box-sizing: border-box;/*position: absolute;*/}
.aimi .input>input{width:75%;height: 2rem;margin-top: 0.8rem;}
.aimi .send{float: right;width:17%;height: 2rem;line-height: 2rem;background-color: #c9c9cc;color: white;margin-top: 0.8rem;border-radius: .3rem;text-align: center;}
.aimi .blue{background-color: #5349e6;}
.aimi .scroll{width: 100%;}
.aimi .record{overflow: auto;}
.aimi .radius{ margin-left: 0.5rem; display: inline-block; border-radius:1rem ;background-color: #ececec;padding:0.5rem 1rem;margin-bottom: 0.25rem;max-width: 14rem; word-break: break-all;vertical-align: middle;}
/* .aimi .text1 div{display: inline-block;float: left;margin-top:0rem ;clear: right;} */
.aimi .text1 div{display: block;margin-top:0rem ;clear: right;margin-bottom: 0px;}
.mop-css-6.three-bounce ,.mop-css-6.three-bounce>div {float: left;}
.aimi .end{width: 100%;height: 8rem;float: left;margin-top: 2rem;display: none;}
.aimi .end p{text-align: center;color: #5349e6;font-size: 1rem;margin-bottom: 1rem;}
.aimi .end .opeation{width: 100%;height: 5rem;display: flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;border-top:0.05rem solid #e6e4e5 ;padding-top:1rem ;box-sizing: border-box;}
.aimi .end .operation span{display: block;background-color: #5349e6;color: white;height: 3rem;border-radius: 0.3rem;line-height: 3rem;font-size: 1rem;text-align: center;width: 100%;margin:0.5rem 3rem;box-sizing: border-box;}
.aimi .end .operation span a{color: white;text-decoration: none;}
.aimi .left .text{margin-top: -2rem;}
.aimi .input>input{font-size: 1.1rem;border: none;}
.aimi .input>input:focus{outline: none;}
.aimi .alert{position: absolute;top:3.4rem;left: 0;width: 100%;height: calc(100vh - 3.4rem);display: none;background-color: rgba(0,0,0,0.5);}
.aimi .alert div{color: #666666;}
.aimi .alert div .p1{font-size:1rem ;word-break:break-all}
.aimi .alert div .p2{font-size:1.2rem ;color:#454545 ;margin-top: 1.5rem;}
.aimi .alert div .p3,.aimi .alert div .p4{margin-top: 0.5rem;color: #454545;}
.aimi .text1 .typing_loader{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
   /* margin: 46px auto;*/ /* Not necessary- its only for layouting*/
  	
    position: relative;
    left: -12px;
    margin:0.36rem 0.7rem;    
}
.aimi .text1 .typing_loader1{
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    -webkit-animation: typing1 1s linear infinite alternate;
    -moz-animation: Typing1 1s linear infinite alternate;
    animation: typing1 1s linear infinite alternate;
   /* margin: 46px auto;*/ /* Not necessary- its only for layouting*/
  	
    position: relative;
    left: -12px;
    margin:0.36rem 0.7rem;    
}
.aimi .refresh{display: none;}
.aimi .swiper-container1{height: 100%;}
.aimi .swiper-container1+ .swiper-wrapper{height: 100%!important;}
.aimi .swiper-container1 .refresh{text-align: center;color: #4a4a4a;margin-top: -5.4rem;}
.aimi .choose{width: 100%;display: none;float: left;clear: both;/*height: 3rem;*/padding: 0rem 1rem;box-sizing: border-box;}
.aimi .choose>div{float: left;background-color:#ececec ;margin-right:1rem ;border-radius:1rem ;padding: 0.25rem 1rem;margin-bottom: 0.75rem;}
.aimi .aimi-message.active {opacity: 1;margin-top: 15rem; transition-delay:opacity  2.7s ease-out;transform:translateZ(0);/* visibility: visible;transform:translate3d(0,0,0);*/}
/*.active .aimi-message>img{opacity:1;margin-left:0%;transition-delay:opacity  1s ease-out;visibility: visible;transform:translate3d(0,0,0);}
.active .aimi-message .Aimi{opacity:1;margin-left:0%;transition-delay: 1s;transform:translate3d(0,0,0);}
.active .aimi-message .pentagram{opacity: 1;margin-left: 0%;transition-delay: 1.2s;}*/
@keyframes typing{
   0%{
        background-color: rgba(183,183,183, 1);
        box-shadow: 12px 0px 0px 0px rgba(183,183,183,0.2), 
                    24px 0px 0px 0px rgba(183,183,183,0.2);
      }
    25%{ 
        background-color: rgba(183,183,183, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(183,183,183,2), 
                    24px 0px 0px 0px rgba(183,183,183,0.2);
    }
    75%{ background-color: rgba(183,183,183, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(183,183,183,0.2), 
                    24px 0px 0px 0px rgba(183,183,183,1);
      }
}
@keyframes typing1{
   0%{
        background-color: rgba(183,183,183, 1);
        box-shadow: 6px 0px 0px 0px rgba(183,183,183,0.2), 
                    12px 0px 0px 0px rgba(183,183,183,0.2);
      }
    25%{ 
        background-color: rgba(183,183,183, 0.4);
        box-shadow: 6px 0px 0px 0px rgba(183,183,183,2), 
                    12px 0px 0px 0px rgba(183,183,183,0.2);
    }
    75%{ background-color: rgba(183,183,183, 0.4);
        box-shadow: 6px 0px 0px 0px rgba(183,183,183,0.2), 
                    12px 0px 0px 0px rgba(183,183,183,1);
      }
}



/*数量统计*/
.problems{width: 100%;height: 100%;background-color: white;position: relative;}
.problems .statistics{margin-top: 2rem;width: 100%;}
.problems .statistics p{text-align: center;color:#4a4a4a ;font-size: 1.3rem;letter-spacing: 0.2rem;}
.problems .statistics .shadow{width: 80%;height:2.5rem;margin: auto;background-color: #F5F5F5;border-radius: 2rem;margin-top:1rem ;border: 1px solid #EFEFEF;}
.problems .statistics .shadow div{width:13%;border-radius:2rem ;height: 2.5rem;background-color: #9cf778;}
.problems .statistics .shadow span{color:rgba(129,123,239,1) ;}
.problems .statistics .operation{margin: auto;margin-top: 3rem;width: 16rem;}

.problems .statistics .operation span{display: block; color: white;background-color:rgba(129,123,239,1) ;border-radius:0.3rem ;font-size: 1rem;height: 2.5rem;line-height: 2.5rem;width: 16rem;text-align: center;}
.problems .statistics .operation .submit{background-color: white;border: 0.05rem solid rgba(129,123,239,1);color: rgba(129,123,239,1);}
.problems .statistics .operation span:last-child{margin-top: 1rem;}
.problems .statistics .operation span a{color: white;text-decoration: none;}
.problems .list{background-color: #F5F5F5;width: 100%;height: 15rem;position: absolute;bottom: 0rem;}
.problems .list p{text-align: center;font-size: 1.2rem;color:rgba(129,123,239,1);letter-spacing: 0.2rem;margin: 0.5rem;}
.problems .list>div{width:100%;height: 2rem; display: flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;padding:0rem 1rem ;font-size: 0.9rem;box-sizing: border-box;color: #666666;vertical-align: middle;}
.problems .list>div img{vertical-align: middle;}
.problems .list p+div{color: #4a4a4a;}
.problems .list div span{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 30%;text-align: center;}

/*sipc*/
.sipc{background-color:#F5F5F5 ;width: 100%;height: 100%;position: relative;  }

.sipc .head span{position: absolute;right: 1rem;top:0rem;line-height: 3.4rem; color: #454545;}
.sipc .problem{width: 100%;height:10.5rem;text-align: center;color:#666666 ;font-size: 1.5rem;background-color: rgba(129,123,239,1);padding: 1rem 0rem;}
.sipc .problem .income{color: white;font-size: 1rem;margin-top: 0rem;display: block;margin-bottom: 1.75rem;}
.sipc .problem p{margin-bottom: 0rem;}
.sipc .problem>div{width: 100%;margin-top: 1.75rem;}
.sipc .problem>div>div{float: left;width: 50%;color: white;box-sizing: border-box;font-size: 0.9rem;}
.sipc .problem .left{border-right: 1px solid white;}
/*.sipc .problem .right{border-left: 0.5px solid white;}*/
.sipc .problem .number{color: white;font-size: 3rem;font-weight: bold;margin-top: 0.5rem;width: 100%;text-align: center;font-family:arial ;}
.sipc .problem .amount{font-weight: bold;font-size: 2rem;color: red;}
.sipc .problem .SIPC{font-size: 1.5rem;color:white ;margin-left: 1rem;}
.sipc .explain{position: absolute;bottom: 0;width: 100%;padding: 1rem;box-sizing: border-box;text-indent: 2rem;color: #454545;font-size:0.9rem ;}
.sipc .recharge,.sipc .cash{color: #999999; width: 100%;height: 2.5rem;line-height: 2.5rem; padding-left: 1.5rem;position: relative;vertical-align: middle;box-sizing: border-box;background-color: white;font-size: 1rem;}
.sipc .cash{margin-top: 0.1rem;}
.sipc .recharge img,.sipc .cash img,.sipc .recharge span,.sipc .cash span{vertical-align: middle;}
.sipc .recharge img,.sipc .cash img{position: absolute;top: 0.7rem;right: 1rem;}
/*thanks*/
.thanks .list{background-color: #f6f6f6;width: 100%;height: 16rem;position: absolute;bottom: 0rem;overflow-y: scroll;}
.thanks .list p{text-align: center;font-size: 1.2rem;color:#5349e6 ;letter-spacing: 0.2rem;margin: 0.5rem;}
.thanks .list div{width:100%;height: 2rem; display: flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;padding:0rem 1rem ;font-size: 0.9rem;box-sizing: border-box;}
.thanks .text{width: 100%;margin-top:3rem;text-align: center;}
.thanks .text span{text-align: center;font-size:2rem ;color: #333333;letter-spacing: 0.2rem;}
.thanks .text>div{margin-top:1rem ;padding: 0rem 2rem;width: 100%;box-sizing: border-box;text-align: left;vertical-align: middle;}
.thanks .text>div img{vertical-align: middle;width: 1.3rem;height: 1.3rem;}
.thanks .list div span{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 30%;text-align: center;}

/*submit*/
.submit_body{overflow-y: hidden;}
.submit {background-color: white;width: 100%;height: 100%;position: relative;}
.submit textarea{margin: auto;width: 100%;height: 10rem;border: none;padding:1rem 1.5rem ;box-sizing: border-box;resize: none;outline: none;}
.submit textarea{font-size: 0.9rem;color: #454545;font-weight: 10;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.submit form{margin-top: 1.6rem;}
.submit hr{height: 1px; border-color:rgba(0,0,0,0.2);border: none;border-top:1px solid rgba(178,178,178,0.2) ;}
.submit .about{margin-top: 1.5rem;font-size: 1.2rem;color:#4a4a4a ;text-align: center;margin-bottom: 1rem;}
.submit .stats{height: 2.4rem;margin-top:2rem ;width: 80%;margin: auto;text-align: center;}
.submit .stats span{background: url(../img/stats.png)no-repeat;display: inline-block;width: 2.5rem;height: 2.3rem;background-size:cover ;}
.submit .submit_bottom{display:block; text-align: center;width: 80%;height: 3rem;background-color:rgba(129,123,239,1) ;line-height: 3rem;color: white;margin: auto;border-radius:0.3rem ;margin-bottom: 15rem;}
.submit form{width: 100%;}
.submit .alert{width:100%;height: 100%;position: absolute;top:0;left: 0;background-color: rgba(0,0,0,0.5);text-align: center;vertical-align: middle;display: none;}
.submit .alert>div{vertical-align: middle;width: 80%;height: 21rem; left: 10%; position: absolute;top: 50%;margin-top: 0; transform: translate(0%,-50%);margin: auto;transition:all 1s ease-in-out .3s}
.submit .alert .text{position: relative;margin-top: 9.5rem;width:90%;margin-left: 5%; height: 10rem; background-color: #fafafa;padding-top: 1.5rem;box-sizing: border-box;overflow: hidden;border-radius:0.2rem 0.2rem 0rem 0rem ;}
/*.submit .animation>div{margin-top:5rem;transition:margin-top 0.5s}*/
.submit .animation>div{height: 26rem;}
.submit .animation .text{margin-top: 3.5rem;height:17rem ;transition:all 1s ease-in-out .3s}
/*.submit .alert>div>.envelope{width: 100%;height: 100%;}
.submit .alert>div>.close{position: absolute;right: -0.5rem;top: -1.5rem;}*/
.submit .alert>div:before{content:'';position: absolute;background: url(../img/before.png) no-repeat;width:100%;height: 14rem;background-size:cover ;left: 0;bottom: 5rem;}
.submit .alert>div:after{content:'';position: absolute;background: url(../img/after.png) no-repeat;width: 100%;height: 12.5rem;background-size:cover ;bottom: 0rem;left: 0;}
.submit .alert .text span{font-size: 1.5rem;color: #454545;}
.submit .alert .text>div{font-size: 1rem;color: #454545;width: 83%;margin: auto;margin-top: 1rem;line-height: 1.5rem;text-align: left;vertical-align: middle;}
.submit .alert .text>div>img{vertical-align: middle;}
.submit .stats .active {background-position:0rem -2.3rem}
/*user*/
.user{color:white ;font-size: 1.2rem;width: 100%;height: 100%;background-color:#efefef ;}
.user .back{float: right;color: white;display: inline-block;border-radius: .3rem;text-align: center;position: absolute;right: 1rem;top: 0.8rem;font-size: 0.8rem;line-height: 1.4rem;}
.user .head{background-color: white;border-bottom: 0.05rem solid rgba(225,225,255,0.12);}
.user .message{box-sizing: border-box;}
.user .name{font-size:1.3rem;color: white;margin-top: 1rem;width: 100%;margin-bottom: 1rem;border-bottom:0.05rem solid #B2B2B2 ;background-color:#7c63eb ;padding-left: 1.5rem;line-height: 4rem;box-sizing: border-box;}
.user .amount ,.user .message  img,.user .reward{vertical-align: middle;background-color: white;color: #454545;font-size:1rem ;padding-left: 1.5rem;}
.user .amount,.user .reward{height: 2.5rem;line-height:2.5rem ;position: relative;}
.user .message img{position: absolute;right: 1rem;top: 0.7rem;margin: auto;}
.user .reward {margin-top: 0.1rem;}
.user a{color: #454545; ;text-decoration: none;}
/*.user .quit{position: absolutey:;bottom: 2rem;left: 1rem;}*/
.up{position: absolute; width: 100%;height:100% ;top: 0;left: 0;background-color: rgba(0,0,0,0.5);box-sizing: border-box;z-index: 2;display: none;}
.up>div{position: absolute;top: 50%;transform: translate(0,-50%); text-align: center;width: 90%;margin:0rem 5%;background-color: white;color:#333333 ;border-radius:0.3rem ;}
.up>div .prompt{font-size:1.2rem ;margin: 1rem 0rem; }
.up>div .prompt+p{font-size: 1.0rem;margin: 1rem 0rem;}
.up>div>span{margin-top: 1rem;background-color: #F6F6F6;}
.up>div .sure{display:inline-block; float: left;height: 3rem;line-height: 3rem;width:calc((100% - 0.07rem)/2);border-right:0.05rem solid rgba(0,0,0,0.12) ;border-top:0.05rem solid rgba(0,0,0,0.12) ;border-radius:0rem 0rem 0rem 0.3rem ;}
.up>div .cancel{display: inline-block;float: right;height: 3rem;line-height: 3rem;width: calc((100% - 0.07rem)/2);border-top:0.05rem solid rgba(0,0,0,0.12) ;border-radius:0rem 0rem  0.3rem 0rem ;}
.user .footer{position: fixed;bottom: 0.5rem;color: #454545;width: 100%;padding: 0rem 1.5rem;box-sizing: border-box;}

.user .footer div{display: inline;font-size: 1rem;}
.user .footer div:first-child,.user .footer div:first-child img{float: left;vertical-align: bottom;}
.user .footer div span{vertical-align: bottom;}
.user .footer div:last-child{float: right;}
.user .footer div:first-child img{height:1.1rem;width: 1.1rem;margin-right: 0.2rem;vertical-align: middle;}
.user .footer div:last-child img{height:.8rem;width: .8rem;}
/*index*/
.body{overflow: hidden;width: 100%;height: 100%;position: fixed;background: white;}
.index{background: url(../img/background.png) no-repeat;background-size:cover;width: 300%;height: calc(100vh - 2rem);text-align: center;transform:translate(0%,0)}
.index .insurbot{margin: 2rem;width: 55%;}
.one,.two,.three{width: 33.3%;float: left;height: 100%;position: relative;}
.index .one>div>p,.index .two>div>p,.index .three>div>p{font-size: 1.6rem;color: #454545;}
.index .one>p,.index .two>p{margin-top: 2rem;color: #999999;padding:0rem 2rem;font-size: 1rem;text-align: left;}
.index .build{position: fixed;bottom: 0rem;left: 0rem;margin-top: 3rem;width: 100%;z-index: -1;}
.index .build1{position: fixed;bottom: 0rem;width: 100%;height: 10rem;left: 0rem;margin-top: 3rem;}
.index .three a{color: white;text-decoration: none;}
.index .three>.reg,.index .three>.login{cursor: pointer; display: block;margin: auto;width: 80%;background-color:#5349e6 ;color: white;height: 3rem;line-height:3rem ;text-align: center;border-radius:0.3rem ;margin-top: 2rem;padding: 0rem;}
.index .three>.login{background-color: white;border: 0.05rem solid #5349e6;color:#5349e6 ;margin-top: 1rem;}
.index .three>.reg{margin-top: 3rem;}
.index .alert{position: absolute;background-color: rgba(82,82,82,1);top: 0rem;left: 0rem;width: 100%;height: 100vh;box-sizing: border-box;display: none;z-index: 999;}
.index .z-index{display: block;}
.index +.footer{width: 100%;/*position: static;*/bottom: 0rem;font-size: 0.8rem;color: #dedede;height: 1.7rem;text-align: center;z-index: -2;}
/*.index .footer>span{text-align: center;font-size: 2rem;line-height: 1.5rem;}*/
.index +.footer .active{color: #5349e6;}
.footer .swiper-pagination-bullet:first-child{margin-right: 0.5rem;}
.footer .swiper-pagination-bullet:last-child{margin-left: 0.5rem;}
/*rechange*/
.rechange{width: 100%;height: 100%;background-color: #efefef;}
.rechange .input-money{background-color: white;font-size: 2rem;margin-top: 0.5rem;padding: 0rem 1rem;overflow: auto;}
.rechange .input-money p{font-size: 1rem;color: #454545;line-height: 2rem;}
.rechange .input-money input{float: left; height: 2.3rem;width: 80%;border: none;outline: none;margin-left: 0.3rem;margin-top: 0.1rem;font-size: 1.2rem;}
.rechange .input-money input::-webkit-input-placeholder{color: #f2f2f2;}
.rechange .input-money span{float: left;line-height: 2rem;}
.rechange .next{display: block; background-color: #7d63eb;width: 80%;margin: auto;color: white;height: 2.5rem;text-align: center;line-height: 2.5rem;border-radius:0.3rem;margin-top: 4rem;}
.rechange table{ width: 100%;position: absolute;bottom:0rem;left: 0rem;text-align: center;border:0.05rem solid #dfdfdf ;border-collapse:collapse ;display: none;}
.rechange td{border:0.05rem solid #dfdfdf ;}
.rechange table td{width: 25%;height: 3.2rem;}
.rechange table td:active{background-color:#e5e5e5;}
.show-menu{padding-top: 17%;}
.show-menu .aimi,.show-menu .submit,.show-menu .problems,.show-menu .sipc{height: 80vh;transform:translate(84%,0%);}
.show-menu .chat{height:calc(80vh - 7rem);}

.aimi{overflow-y:scroll ; }
ul{padding: 0rem;}
.aimi .alert{z-index: 2;}
.head{position: fixed;z-index: 14;border-bottom:0.05rem solid rgba(212,211,211,0.3 );}
.aimi .choose{display: block;padding-top: 0.5rem; position: relative;z-index: 2;overflow-x: auto;display:inline-block;white-space: nowrap;font-size: 12px;}
.aimi .choose::-webkit-scrollbar{display: none;}
.aimi .prompt::-webkit-scrollbar{display: none;}
.aimi .choose::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: red;
  border: 0px solid #fff;
}
.aimi .choose div{float: none;display: inline-block;padding: 0.3rem 1.3rem;font-size: 0.9rem;background-color: white;box-shadow:0 0 0.3rem rgba(104,99,215,0.2) ;color: #6f69e1;overflow-y: hidden;cursor: pointer;border-radius: 1.3rem;min-width: 2.5rem;text-align: center;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.aimi .radius{font-size: 0.9rem;}
.aimi .aimi-message{height: 8.5rem;}
.aimi .prompt .prompt_div{display: inline-block;width: 100%;margin-bottom: 1.5rem;}
.aimi .chat{height: calc(100vh - 7rem);/*padding-bottom: 0.5rem;*/margin-top: 3.4rem;  }
.aimi .scroll{padding-bottom: 0.5rem;}
.aimi .case .swiper-container .swiper-slide>div{float: left;border-radius: 0.8rem;background:white ;padding:0.4rem 0.4rem ;font-size: 0.8rem; width: 42.5%;color: #454545;text-align: center;border:1px solid #EFEFEF ;}
.aimi .case .swiper-container {padding-left:1rem;box-sizing: border-box;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.aimi .case .swiper-container .swiper-slide>div:nth-child(2n){float: right;padding-left:0rem;margin-right: 1rem;}
.aimi .personcase .swiper-container .swiper-slide>div{float: left;border-radius: 0.8rem;background:white ;width: 100%;height: 100%; color: #454545;}
.aimi .personcase .swiper-container {box-sizing: border-box;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.aimi .aimi-message.active{margin-top: 0rem;}
.swiper-pagination.swiper-pagination-bullets{display: block;bottom: 0rem;width: 100%;}
/* .aimi .radius{border-radius:1rem 1rem 1rem 0.3rem ;background-color:#F5F5F5;overflow: auto;max-width: 14rem;padding:0.7rem 1rem;} */
.aimi .radius{border-radius:1rem 1rem 1rem 0rem ;background-color:#F5F5F5;overflow: auto;max-width: 14rem;padding:0.7rem 1rem;position: relative;left: 2.5rem;min-width:1rem;}
.aimi .radius::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 271px;
}
.aimi .radius::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #fff;
    background: #fff;
}
.aimi .radius::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px #fff;
    border-radius: 10px;
    background: #fff;
}
.aimi .right .text>div{border-radius: 1.2rem 1.2rem 0.3rem 1.2rem;padding:0.7rem 1rem;background-color:rgba(107,100,249,0.1);color: #4a4a4a;font-size: 0.9rem;max-width: 15rem;min-width:1rem;}
.aimi .blue{background-color: #8883fb;}
.aimi .input>input{width: 63%;font-size: 0.8rem;border-radius:0.3rem;border:1px solid #EFEFEF ;-webkit-appearance: none;}
.input .question{background:url(../img/question.png) no-repeat;width:3rem;float: left;height: 2rem;margin-top: 0.8rem;background-position:-0.1rem 0.1rem;cursor: pointer;background-size: cover;}
.input .question.active{background-position:-2.8rem 0.1rem }
.case{background-color: #f6f6f6;display: none;}
.case .swiper-pagination-bullet{background-color:#6b64f9;opacity: 0.5;}
.case .swiper-pagination-bullet-active{background-color:#6b64f9;opacity: 0.8;}
.input input[name="text"]{padding-left: 0.4rem;}
.input input::-webkit-input-placeholder { /* WebKit browsers */ 
 color: #999999;
 font-size: 0.8rem;
 /*line-height: 2rem;*/
} 
.input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
 color: #999999;
 font-size: 0.8rem;
/* line-height: 2rem;*/
} 
.input input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
 color: #999999;
 font-size: 0.8rem;
 /*line-height: 2rem;*/
} 
.input input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
 color: #999999;
 font-size: 0.8rem;
 /*line-height: 2rem;	*/
}
.aimi .aimi-message .helper{font-size: 0.75rem;}
.aimi .aimi-message .Aimi{font-size: 1.1rem;color: #454545;}
.aimi .right{margin-top: 1.3rem;}
.aimi .send{cursor: pointer;}
.aimi .aimi-message>img{width:4rem;height: 4rem;}
.aimi .checkbox{float: left;margin-left: 4rem;width: 15rem;background-color:rgba(137,131,250,0.7) ;border-radius:0.5rem ;margin-bottom: 1rem;}
.aimi .checkbox .checkbox_input{overflow: auto;padding:1rem 1.2rem 0rem 0rem;}
.aimi .checkbox .checkbox_input>div{float: left;/*width: 3.5rem;*/margin-bottom: 1rem;text-align: center;font-size:1rem ;color: white;position: relative;margin-left: 1.1rem;cursor: pointer;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.aimi .checkbox .sure{display: block;background-color:rgba(137,131,250,1);text-align: center;height: 2rem;line-height: 2rem;color: white;border-radius: 0rem 0rem 0.5rem 0.5rem;}
.aimi .checkbox .checkbox_input>div>input{width: 1rem;height: 1rem;opacity: 0;border-radius:50% ;}
.aimi .checkbox .checkbox_input>div .checkbox_raduis{position: absolute;border: 1px solid white;border-radius: 50%;top: 0.5rem;left: 0.3rem;width: 0.5rem;height:0.5rem}
.aimi .checkbox .checkbox_input>div .checkbox_bg{position: absolute;border: 1px solid white;background-color: white; border-radius: 50%;top: 0.5rem;left: 0.3rem;width: 0.5rem;height:0.5rem;display: none;}
.aimi .large_checkbox{position: fixed;top: 3.4rem;left: 0;width: 100%;height:calc(100vh - 3.4rem) ;background-color: rgba(0,0,0,0.2);z-index: 6;}
.aimi .large_checkbox .large_checkbox_div{position: absolute;bottom: 0rem;left: 0rem;height: 17rem;background-color: white;width: 100%;padding: 0rem 1rem;box-sizing: border-box;}
.aimi .input{padding-left: 0rem;}
.swiper-pagination.swiper-pagination-bullets>span:last-child{margin-left: 0.1rem;}
.swiper-pagination.swiper-pagination-bullets>span:first-child{margin-right: 0.1rem;}
/*.aimi .text1 .typing_loader{margin-top:0.5rem ;margin-right: 1.5rem;float: left;}*/
.aimi .text1 .typing_loader1{width: 0.3rem;height: 0.3rem;/*float:right;*/margin-left:1.5rem;}
.aimi .text1 .mop-load-div{float: right;}
.aimi .text1 #spinners{float: right;margin-top: 0.45rem;padding-right:30px;}
.aimi .left{margin-top: 1.3rem;margin-bottom: 0rem;}


.shine {height: 60px;text-align: center;font-size:0.9rem;-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-color: rgba(165,161,244 ,1);	background-image: -webkit-linear-gradient(-45deg, rgba(111,105,225, 0.9) 30%, rgba(54,50,128,1) 50%, rgba(111,105,225,0.9) 70%);
	background-image: -moz-linear-gradient(-45deg, rgba(111,105,225, 0.9) 30%, rgba(54,50,128,1) 50%, rgba(111,105,225,0.9) 70%);
	background-image: -o-linear-gradient(-45deg, rgba(111,105,225, 0.9) 30%, rgba(54,50,128,1) 50%, rgba(111,105,225,0.9) 70%);
	background-image: linear-gradient(-45deg, rgba(111,105,225, 0.9) 30%, rgba(54,50,128,1) 50%, rgba(111,105,225,0.9) 70%);
	background-blend-mode: hard-light;
	background-size: 200%;
	-webkit-animation: shine 2s infinite;}
@-webkit-keyframes shine { from {  background-position: 150%;}to {background-position: -50%;}}
@-webkit-keyframes hover { from {transform: translateY(-50%);}to {transform: translateY(-75%);}}
@-webkit-keyframes hoverSmall {from {transform: translateY(30%) rotate(45deg);}to {transform: translateY(-10%) rotate(45deg);}}
.icon-gengduo1{width: 12px; height: 12px; color: #999;}
.more{float: right;display:block;clear: both;}

